<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Efetuar Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sistema Etec 2020</ion-card-title>
    </ion-card-header>

    <!-- Quando eu for fazer um formulário com validação eu preciso colocar um formGroup -->
    <!-- (ngSubmit) envia os dados e chama a função login() -->
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <!-- Email -->
      <ion-item>
        <!-- formControlName substitui o [(ngModel)] quando é um formulário -->
        <ion-label position="stacked">Seu E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
        <!-- *ngFor percorre a variavel de verificação -->
        <ng-container *ngFor="let erro of mensagens_validacao.email">
          <!-- *ngIf analisa a situação do campo e mostra um mensagem de erro quando necessário -->
          <span
          *ngIf="formLogin.get('email').hasError(erro.tipo) && (formLogin.get('email').dirty || formLogin.get('email').touched)"
          class="msg-erro">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
      <!-- Senha -->
      <ion-item>
        <ion-label position="stacked">Sua Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.senha">
          <span
          *ngIf="formLogin.get('senha').hasError(erro.tipo) && (formLogin.get('senha').dirty || formLogin.get('senha').touched)"
          class="msg-erro">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
      <br>
      <!-- Executa o (ngSubmit) -->
      <ion-button expand="block" color="primary" type="submit">Login</ion-button>
      <!-- Leva para a página de criação de uma conta -->
      <ion-button expand="block" fill="outline" color="primary" routerLink="/criar-conta">Criar Sua Conta</ion-button>
    </form>
  </ion-card>
</ion-content>
